@model UsuarioView


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <fieldset>
                <legend>Endereço</legend>
                <button class="btn btn-primary" type="button" onclick="BuscarCep()">Buscar</button>
            </fieldset>

            <fieldset>
                <legend>Dados Pessoais</legend>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Senha" class="control-label"></label>
                    <input asp-for="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmacaoSenha" class="control-label"></label>
                    <input asp-for="ConfirmacaoSenha" class="form-control" />
                    <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </fieldset>

        </form>
    </div>
</div>

<script>

    var url = "https://viacep.com.br/ws/01001000/json/";

        function BuscarCep() {
            fetch(url)
                .then(response => response.json())
                .then(json => {
                    alert(json.localidade)
                })
                .catch(error => console.log(error));
        }

</script>



